<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet"  href="giris.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >



</head>
<body>
  <%- include("./inc/navbar");%>
    

   <!-- ilk resim ve yazı -->
    <div class="container">

        <div class="row">
          <div class="col-6 section1img">
              <div class="solResim">
                <img src="https://kolayik.com/wp-content/themes/kolay-ik-theme/assets/img/background/vardiya-illustration.svg" alt="">
              </div>
            
          </div>
          <div class="col-6 section1yazi">
              <div class="sagYazi ortala">
                <h1> Tek tıkla tüm vardiyayı düzene sokun</h1>
                <br>
                <p> Çalışanlar internete bağlı herhangi bir cihazdan uygun oldukları saatleri vardiya planına eklesin, 
                 siz de kendi biriminize ait vardiya planı ve tek tıkla raporlama yapın.
                </p>
                <a href="kayit"><button type="button" class="btn btn-primary kenarBorder pr-4 pl-4 pt-2 pb-2">Kayıt Ol</button></a>
                
                </div>
       
          </div>
          
        </div>
      </div>
     
      <div class="ortala margin-10 ">
          <h3>Vardiya uygulamasında neler var?</h3>
      </div>


 <!-- ikinci resim ve yazı -->

 <div class="container margin-10">
    <div class="row">
      <div class="col-6">
        <div class="dikeyOrtala">
            <h1>Tüm vardiyayı düzene sokun</h1>
                <p>Çalışanlar internete bağlı herhangi bir bilgisayardan uygun oldukları 
                saatleri vardiya planına eklesin, 
                siz de kendi biriminize ait vardiya planı ve tek tıkla raporlama yapın.</p>
        </div>
      </div>
      <div class="col-6">
       <div class="container">
        <img style="max-width: 120%;height: 300px;" src="table.JPG" alt="">
       </div>
      </div>
      
    </div>
  </div>


      <!-- <div class="container ">
          <div class="section-2 margin-10">
            <div class="row">
                <div class="col-6">
                 <div>
                  <img src="https://kolayik.com/wp-content/uploads/2020/03/vardiya-yonetimi-01.svg" alt="">
                 </div>
                </div>
                <div class="col-6">
                  <div class="ortala dikeyOrtala">
                      <h1>Tüm vardiyayı düzene sokun</h1>
                      <p>Çalışanlar internete bağlı herhangi bir bilgisayardan uygun oldukları 
                          saatleri vardiya planına eklesin, 
                          siz de kendi biriminize ait vardiya planı ve tek tıkla raporlama yapın.</p>
                  </div>
                </div>
                
              </div>
          </div>
       
      </div> -->

      <!-- 3. yazı ve resim -->

      <div class="container margin-10">
        <div class="row">
          <div class="col-6">
           <div>
                <img src="tablevardiya.JPG" alt="">
           </div>
          </div>
          <div class="col-6">
           <div class="ortala dikeyOrtala ">
                <h3>Günlük, haftalık veya aylık planlama</h3>
                <br>
                <p>Kendi biriminize ait günlük, haftalık ve aylık vardiya planı oluşturun ve ekibinizle paylaşın.</p>
           </div>
          </div>
          
        </div>
      </div>
      <hr>
      <div class="container">
          <nav >
            <div style="text-align: center;">
              <h5>Hazırlayanlar</h5>
            </div>
             
              
              <div style="text-align: center;">
                <p>Mehmet BÖYÜK</p>
                <p>İhsan KONARGÖÇER</p>
              </div>
              
          </nav>

      </div>
    
 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

</body>
</html>
</html>